<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.sample">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application android:label="Sample.Android" android:theme="@style/MainTheme" android:name="com.clevertap.android.sdk.Application">
		<meta-data android:name="CLEVERTAP_ACCOUNT_ID" android:value="88R-R54-5Z6Z" />
		<meta-data android:name="CLEVERTAP_TOKEN" android:value="452-2bb" />
		<meta-data android:name="CLEVERTAP_USE_GOOGLE_AD_ID" android:value="1"/>
	    <meta-data android:name="FCM_SENDER_ID" android:value="id:727305850993" />
	</application>
    
    
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
       
        

</manifest>

